* {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: blanchedalmond;
}
h1 {
    
    font-size: 36px;
    color: red;
    text-align: center;
    background-color: darkblue;
}

h3 {
    background-color: darkblue;
    color: red;
}

#title {
    border: solid 2px black;
    border-radius: 10px;
    width: 100%;
    text-align: center;
    background-color: darkblue;
}


.generator {
    display: flex;
    height: 200px;
    width: 100%;
    margin-top: 100px;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
    border: 2px dashed red;  
    border-radius: 15px;
}

#button:hover {
    box-shadow: 30 black;
    height: larger;
}

#message {
    display: flex;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
    font-size: 25px;
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
}

button {
    border: none;
    background-color: aqua;
    border-radius: 15px;
    padding: 14px 28px;
    font-size: 20px;
    font-family: inherit;
    font-weight: bold;
    color: red;
    cursor: pointer;
}

button:hover {
    background-color: black;
}

#message {
    font-size: 32px;
    padding: 15px;
    background-color: silver;
}
