* {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
h1 {
    
    font-size: 36px;
    color: red;
    text-align: center;
   
}
#title {
    border: solid 2px black;
    border-radius: 10px;
    margin: 0PX 200PX 0PX 200PX;
    text-align: center;
}
.generator {
    margin-top: 200px;
}

.button {
    border: solid 3px black;
    border-radius: 15px;
    background-color: black;
    margin: 0 500px 0 500px;
}

.button:hover {
    box-shadow: 30 black;
    height: larger;
}